
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;

}

input[type="texto"] {
  color: #ffffff;
}

.general{
  width: 800px;
  height: 800px;
  padding: 0px;
  margin-top: 150px;
  margin-left: 150px;
  border-radius: 10px;
  font-style: italic;
  font-weight: 500; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 9px;
    
}

.general .search{
  width: 40%;
  float: left;
  padding: 0;
  margin-bottom: 10;
  height: 80px;
  text-align: left;
  
}
.general .search form{

  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.general .search form button{
  text-align: left;
}

.general .cargar{
  width: 25%;
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  height: 80px;
}
.general .cargar button{
  float: right;
  margin-top: 40px;
  margin-right: 5px;
  text-align: left;
}
.general .cargar button {
  /* height: 35px; */
  border-radius: 10px;
  text-align: center;
  /* width: 50%; */
  border: 2px solid #ffffff;
  padding: 7px 10px;
  background-color: #198694;
  caret-color: #000000;
 text-transform: capitalize;
  font-weight: 500;
  font-style: italic;

}

.general .cargar button:hover {
  box-shadow: none;
  box-shadow: 0 0 5px #000000;
  background-color: #198694;
}

.general .cargar button:focus {
  box-shadow: none;
  border: 5px solid #ffffff;
  box-shadow: 0 0 10px #008080;
}

.general .table{
  padding: 0;
  margin-top: 85px;
  width: 100%;
}

/*estilos formulario*/


.formulario {
  margin-top: 120px;
  max-width: 500px;
  padding: 0px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-shadow: 4px  #008080;
}

.formulario h2 {
  text-align: center;
  color: #333;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form__line {
  display: block;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

.formulario input[type="file"] {
  display: block;
  margin-bottom: 5px;
}

.formulario button[type="submit"] {
  display: block;
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario button[type="submit"]:hover {
  background-color: #286090;

}

.validation-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  animation: fadeOut 4s ease-in-out forwards;
}

.validation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.validation-message.error {
  background-color: red;
  color: white;
  animation: fadeOut 4s ease-in-out forwards;
}

.validation-message small {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}




@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



