#asidebar-container {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 120px;
  position: fixed;
  top: 0;
  left: -200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  z-index: 1;
  transition: left 0.6s ease-in-out;
}

.navbar-toggle-button {
  position: fixed;
  top: 50%;
  left: 0px;
  font-size: 20px;
  z-index: 2;
  transition: transform 0.6s ease-in-out;
  border: 0;
  background: none;


}
.navbar-toggle-button a{
  text-decoration: none;
  color: #1fa1b3;
}
.navbar-toggle-button a:hover{
  text-decoration: none;
  color: #6fcdcd;
}

#asidebar-container.active {
  left: 0;
}

#asidebar-container.active ~ #toggle-aside-button {
  transform: translateX(200px) rotate(180deg);
}

 
  .navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 20PX;
    list-style: none;
  }


  .navigation a {
      /* display: block; */
      /* color: #333; */
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    
  }

  .sub-navigation {
    margin-top: 10px;
    margin-left: 20px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: .6s ease;
  }
  
  .sub-navigation li {
    margin-bottom: px;
    transition: .6s ease;

  }
  .sidebar li:hover .sub-navigation {
    display: block;
    transition: .6s;
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */

  }






  /*Botones*/


  /*estilo de letras*/
  
  .sidebar .navigation a {
    /* Estilos de texto para los elementos <a> dentro de .navigation */
    color: #1fa1b3; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    text-decoration: none; /* Decoración de texto */
    font-style: italic;
    font-weight: 500;
  }
  
  .sidebar .navigation a:hover {
    /* Estilos de texto al pasar el cursor sobre los elementos <a> dentro de .navigation */
    text-decoration: underline #6fcdcd; /* Subrayado al pasar el cursor */
    color: #6fcdcd;
    transition: .6s;
    font-style: italic;
    font-weight: 500;
  }


  .icon-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .delete-icon {
    visibility: hidden;
    cursor: pointer;
    transition: .6s ease;
}

.icon-container:hover .delete-icon {
    visibility: visible;
}

/* Estilos para el formulario */
.formulario-eliminar {
  display: none;
  background: none;
  border: none;
  transition: color 0.6s ease
}

/* Estilos para el ícono de eliminar */
.formulario-eliminar .fas.fa-trash {
  color: #1fa1b3;
  transition: color 0.6s ease
  /* Otros estilos que desees aplicar */
}
.formulario-eliminar button {
  background: none;
  border: none;
  transition: color 0.6s ease
  /* Otros estilos que desees aplicar */
}
.icon-container:hover .formulario-eliminar {
  display: block;
  transition: color 0.6s ease
}

.formulario-eliminar .fas.fa-trash {
  color: #1fa1b3;
  transition: color 0.6s ease; /* Transición de color */
}

/* Estilos para mostrar el formulario cuando haces hover sobre el <li> */
.icon-container:hover .formulario-eliminar {
  display: block;
  transition: color 0.6s ease
}

/* Cambiar el color del ícono al hacer hover sobre el <li> */
.icon-container:hover .formulario-eliminar .fas.fa-trash {
  color: #6fcdcd;
  transition: color 0.6s ease
}


  @media (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px;
      position: static;
    }
  
    .sidebar .navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .sidebar .navigation li {
      width: 50%;
      margin-bottom: 10px;
    }
  }

