.sidebar {
    width: 200px;
    height: 100vh; /* Cambia la altura a 100vh para ocupar toda la altura vertical */
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 120px;
    position: fixed; /* Cambia a posición fija para que se mantenga a la izquierda */
    top: 0; /* Alinea la barra de navegación al inicio de la página */
    left: 0; /* Alinea la barra de navegación a la izquierda */
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  .navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 20PX;
  }


  .navigation a {
      /* display: block; */
      /* color: #333; */
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    
  }

  .sub-navigation {
    margin-top: 10px;
    margin-left: 20px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: .6s ease;
  }
  
  .sub-navigation li {
    margin-bottom: px;
    transition: .6s;

  }
  .sidebar li:hover .sub-navigation {
    display: block;
    transition: .6s;
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */

  }



  /*Botones*/


  /*estilo de letras*/
  
  .sidebar .navigation a {
    /* Estilos de texto para los elementos <a> dentro de .navigation */
    color: #1fa1b3; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    text-decoration: none; /* Decoración de texto */
    font-style: italic;
    font-weight: 500;
  }
  
  .sidebar .navigation a:hover {
    /* Estilos de texto al pasar el cursor sobre los elementos <a> dentro de .navigation */
    text-decoration: underline #6fcdcd; /* Subrayado al pasar el cursor */
    color: #6fcdcd;
    transition: .6s;
    font-style: italic;
    font-weight: 500;
  }


  .icon-container{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @media (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px;
      position: static;
    }
  
    .sidebar .navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .sidebar .navigation li {
      width: 50%;
      margin-bottom: 10px;
    }
  }

