 
  .search input {
    border-radius: 10px;
    width: 50%;
    border: 1px solid transparent;
    padding: 4px;
    background-color: #318999;
    caret-color: #000000;
    transition: .4s all ease;
    font-style: italic;
    font-weight: 500;
  }
  
  .search input:hover {
    background-color: #ffffff;
    color: #318999;
    border: 1px solid #318999 ;

  }
  
  .search input:focus {
    box-shadow: none;
    border: 5px solid #ffffff;
    box-shadow: 0 0 10px #008080;
  }
  
