div{
  width: 100%;
}

div table {
    color: aliceblue;
}

table {
  font-size: 17px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #32bcce;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
thead {
  background-color: #198694;
}

th {
  text-transform: uppercase;
  padding: 20px 10px;
  font-weight: 700;
}

td {
  padding: 10px;
  border-bottom: solid 1px #000000;
}

tbody tr:hover {
  background-color: #198694;
}
