div{
  width: 100%;
}

div table {
    color: #ffff;
}

table {
  font-size: 17px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #1fa1b3;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}
thead {
  background-color: #1fa1b3;
}

th {
  text-transform: uppercase;
  padding: 20px 10px;
  font-weight: 700;
}

td {
  padding: 10px;
  border-bottom: solid 1px #000000;
  word-break: break-word;
  max-width: 200px; /* Establece el ancho máximo deseado */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que excede el ancho máximo */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar contenido truncado */

}   

tbody tr:hover {
  background-color: #198694;
}
